@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
  --primary: #0f141e;
  --primary-rgb: 15, 20, 30;

  --secondary: #878a8f;
  --secondary-rgb: 135, 138, 143;

  --accent: #82b1ff;
  --accent-rgb: 130, 177, 255;

  --bg: #FFFFFF;
  --bg-rgb: 255, 255, 255;

  --info: #1491e6;
  --info-rgb: 20, 145, 230;

  --error: #9f2b2b;
  --error-rgb: 159, 43, 43;

  --warning: #faad14;
  --warning-rgb: 250, 173, 20;

  --success: #4e8d12;
  --success-rgb: 78, 141, 18;

  --font-ar: 'Cairo';
  --font-en: 'Montserrat', sans-serif;

  --font-base-size: 1rem;

  --font-sm-size: 0.8rem;
  --font-xsm-size: 0.7rem;

  --font-lg-size: 1.7rem;
  --font-xlg-size: 2.1rem;
}

.dark {
  --primary: #FFFFFF;
  --primary-rgb: 255, 255, 255;

  --secondary: #e0e0e0;
  --secondary-rgb: 224, 224, 224;

  --bg: #0c0c0c;
  --bg-rgb: 12, 12, 12;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-size: var(--font-base-size);
  text-align: start;
  background-color: var(--bg);
}

html[dir='rtl'],
html[lang='ar'] {
  font-family: var(--font-ar) !important;
}
html[dir='ltr'],
html[lang='en'] {
  font-family: var(--font-en) !important;
}


@media only screen and (max-width: 992px) {

  .v-application,
  body,
  html {
    font-size: var(--font-sm-size) !important;
  }
}

@media only screen and (max-width: 768px) {

  .v-application,
  body,
  html {
    font-size: var(--font-xsm-size) !important;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
}


/* ######################### */

p {
  font-size: var(--font-base-size);
}

ul,
li {
  list-style: none;
  padding: 0rem;
}

a {
  text-decoration: none;
  display: inline-block;
}

.text-start {
  text-align: start;
}

.text-end {
  text-align: end;
}