@import './style/base.css';
@import './style/taillwind.css';

.main_hoveralble {
  position: relative;

}
.main_hoveralble::after{
  position: absolute;
  content: "";
  bottom: 0;
  width: 100%;
  height: 4px;
  background: var(--primary);
  left: 0;
  right: 0;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.main_hoveralble:hover:after{
  opacity: 1;
}